main .l {z-index:1}
pre {
  /* requires background transparency so underlying colour remains dominant */
  /* would be good to add a little noise too */
  background:#FCFDFC url("data:image/svg+xml;charset=utf8,%3Csvg stroke-width='2' stroke='%23EDF3ED' width='1224' height='64' viewBox='0 0 1224 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0,0L1224,0'/%3E%3Cpath d='M0,4l1224,0'/%3E%3Cpath d='M0,8l1224,0'/%3E%3Cpath d='M0,12l1224,0'/%3E%3Cpath d='M0,16l1224,0'/%3E%3Cpath d='M0,20l1224,0'/%3E%3Cpath d='M0,24l1224,0'/%3E%3Cpath d='M0,28l1224,0'/%3E%3C/svg%3E") repeat-y scroll 0 3rem / auto 4rem;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
  direction: ltr;

  -ms-hyphens: none;
}
pre > code {
  /* bg.code.hole-tear.3.svg - border-image will not accept svg unless in dataURI */
  border-image:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iMTAwIiB2aWV3Qm94PSIwIDAgNDAgMTAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxjaXJjbGUgY3g9IjE5IiBjeT0iNDkiIHI9IjE0IiBzdHlsZT0iZmlsbDojZmRmZGZkO3N0cm9rZS13aWR0aDoyO3N0cm9rZTojZGRkIi8+PGNpcmNsZSBjeD0iMTkiIGN5PSI1MSIgcj0iMTQiIHN0eWxlPSJmaWxsOiNGNEY0RjU7c3Ryb2tlLXdpZHRoOjAiLz48cGF0aCBkPSJNNDAsMGwwLDEwMCIgc3R5bGU9ImZpbGw6bm9uZTtzdHJva2Utd2lkdGg6MjtzdHJva2UtZGFzaGFycmF5OjIsNiwyLDY7c3Ryb2tlOnJnYmEoMTg0LDIxNywxODQsLjcpIi8+PC9zdmc+Cg==) 0 0 0 400 repeat;
  /* dirty grunge bg - requires .7 opacity applying to png and globalising - Still trying to SVG this onto pre{} */
  /*background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAABlBMVEX///////9VfPVsAAAAAnRSTlMAuyogpzwAAABJSURBVHhehcCxEQJBCADAhSEgJLCA+xkLwc4+MDC0ZEtwAb2rYdWbc3iEcRZgdEJ5QQKe/oPUjL0LIZhdBFfMqHRDca709QnwA8AYBjw1mzYyAAAAAElFTkSuQmCC);*/
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg width='1200' height='256' viewBox='0 0 1200 256' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.3,.1'%3E%3C/feTurbulence%3E%3C/filter%3E%3C/defs%3E%3Crect height='256' width='1200' filter='url(%23noise)' opacity='.1'/%3E%3C/svg%3E");
  word-wrap: normal;
  text-overflow: ellipsis;
}
.lift pre > code,
pre > code:focus {
  text-overflow: inherit;
}
/* Fix for Safari */
/*
pre > code::after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  line-height: 0;
}
*/
/* Safari 10.1+ */
@media not all and (min-resolution:.001dpcm) { @media
{
  pre > code {
    text-overflow: inherit;
  }
}}
/* show class name */
pre > code[class]::before {
  display: block;
  margin: -.4rem 0 .6rem -1.2rem;

  color: #6c5f7c;
  content: attr(class);
  font-style: italic;
  font-size: small;
}
figcaption {
  position: absolute;
  top: 1.3rem;
  left: 2.5rem;
  font-size: small;
  font-style: italic;
  color: #6c5f7c;
  z-index: 1;
}
figcaption + pre > code[class]::before {
  display:none;
}
figcaption + pre > code {
  padding-top: 3rem;
}


@media print {
  code[class*="language-"],
  pre[class*="language-"] {text-shadow: none;}
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {background: #b3d4fc;text-shadow: none; }
pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {background: #b3d4fc;text-shadow: none; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {color: #617181;}

.token.punctuation {color: #6f6f6f;}

.namespace {opacity: .7;}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {color: #7A56A5;}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {color: #02774c;}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {color: #a00;}

.token.atrule,
.token.attr-value,
.token.keyword {color: #216CCC;}

.token.function {color: #C03F59;}

.token.regex,
.token.important,
.token.variable {color: #5761BD;}

.token.important {font-weight: bold;}

.token.entity {cursor: help;}

/* \prism.css Code highlighting */


/* Expand code block CSS */

  [data-expand] {transition:box-shadow .3s ease-out, transform .3s ease-out}

  [data-expand].ON {box-shadow:0 .25rem .25rem rgba(0,0,0,.3)}

  [data-expand].OFF::before,
  [data-expand].OFF::after{display:none}

  [data-expand].OFF pre {box-shadow:none; opacity:0}


/* lift code block on focus */

.shadowlift.lift {
  box-shadow: 0 4px 4px rgba(0,0,0,.3);
  background-color: transparent;
  transform: rotate(0deg);
}
.shadowlift pre {
  resize: horizontal;
  min-width: 100%;
}
.shadowlift code:focus {
  background-image: none;
  outline: 0 solid;
}

/* /lift code block on focus */
